@import "tailwindcss";


html, body, #root {
    height: 100%;
}


.rounded-br-none {
    border-bottom-right-radius: 0.5rem;
}

.rounded-bl-none {
    border-bottom-left-radius: 0.5rem;
}

.EmojiPickerReact {
  width: 100% !important;
  height: 100% !important;
  box-shadow: none !important;
  border: none !important;
}